<h1>Add Employee - Reactive Forms</h1>
<div>
    <form [formGroup]="empFrm" (ngSubmit)="AddEmp()" novalidate>
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" name="fullName" id="fullName" formControlName="nm" 
            [ngClass]="{'errTxt':(!empFrm.controls['nm'].valid)&&(empFrm.controls['nm'].dirty || empFrm.controls['nm'].touched)}">
        <div>
        <span  *ngIf="(!empFrm.controls['nm']?.valid)&&(empFrm.controls['nm']?.dirty || empFrm.controls['nm'].touched)" 
        class="errMsg"> First name is required and it should have minimum of 10 characters & max 15 </span>
    </div>
</div>
        <div>
            <label for="adrress" name="lblAddress">Address:</label>
            <input type="text" name="address" id="address" formControlName="address">
            <div>
                <span  *ngIf="(!empFrm.controls['address']?.valid)&&(empFrm.controls['address']?.dirty || empFrm.controls['address'].touched)" 
                class="errMsg"> Address is required and it should have minimum of 10 characters & max 15 </span>
            </div>
        </div>
        <div>
            <label for="cnt" name="lblCnt">Contact:</label>
            <input type="text" name="cnt" id="cnt" formControlName="cnt">
        </div> 
        <div>
            <label for="cntry" >Country:</label>
            <select name="cntry" id="cntrySel" formControlName="country" (change)= "cntryVal()">
                <option *ngFor="let c of cntryList" [value] ="c.cntryCode">{{c.cntryVal}} </option>
            </select>
        
        <div>
            <span  *ngIf="(!empFrm.controls['country']?.valid)&&(empFrm.controls['country']?.dirty || empFrm.controls['country'].touched)" 
                class="errMsg"> Country is required  </span>
            </div>
        </div>
        <div>
            <label>City:</label>
            <select name="cty" id="cty" formControlName="city">
                <option value="chn">Chennai</option>
                <option value="blr">Bengalaru</option>
                <option value="del">Delhi</option>
                <option value="mb">Mumbai</option>
            </select>
        </div>
        <div>
            <label for="cnt" name="lblCnt">Date of Joining:</label>
            <input type="text" name="doj" id="doj" formControlName="cnt">
        </div>

        <button type="submit">Add Employee</button>
    </form>
</div>
<div>
<button  type="button" (click)="editEmp()"> Edit Employee</button>

</div>

<div>
    <p>Form values</p>
    <pre>Value : {{empFrm.value | json }} </pre>
    <pre>is form Valid : {{empFrm.valid}} </pre>
    <pre>Touched : {{empFrm.touched  }} </pre>
    <!-- <pre>Submitted : {{empFrm.submitted  }} </pre> -->

    <!-- <p>Individual control values - Full Name</p>
    <pre>Value    : {{fullNm.value}} </pre>
    <pre>valid    : {{fullNm.valid}} </pre>
    <pre>invalid  : {{fullNm.invalid}} </pre>
    <pre>touched  : {{fullNm.touched}} </pre> -->
    
    </div>