.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: rgb(158, 182, 193);  
    border-radius: 15px ;  
      
}  
h1{  
text-align: center;  
color: black;  
padding: 20px;  
}  
label{  
color: black;  
font-size: 17px;  
}  
#userName{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 2px;  
}  
#password{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: rgb(23, 21, 21);  


}  

